<script>
  var game = new Phaser.Game(innerWidth, innerHeight, Phaser.CANVAS, 'phaser-example', {
    preload: preload,
    create: create,
    update: update
  });

  function preload() {
    game.load.image('board_tile', '../assets/board_tile.svg');
    game.load.image('reward_smile', '../assets/reward_smile.svg');
    game.load.image('background_space', '../assets/Background.png');
    game.load.image('spaceship', '<%= asset_path('Space_Ship.png') %>');
    game.load.image('toilet', '../assets/Toilet.png');
    game.load.image('star01', '../assets/star.svg');
  }

  // Look at asset URL helper in Rails, image URL

  var spaceship;

  function create() {

    // create board assets
    game.stage.backgroundColor = '#FFFFFF';
    var background = game.add.sprite(0, 0, 'background_space');

    spaceship = newDraggableToken(spaceship, 15, 75, 'spaceship', .65, .65);

    var toilet = newDraggableToken(toilet, 5, 175, 'toilet', 0.5, 0.5);

    var star01 = newDraggableToken(star01, 5, 250, 'star01', 1.5, 1.5);

    var smile01 = newDraggableToken(smile01, 15, 15, 'reward_smile', 2, 2);

    var smile02 = newDraggableToken(smile02, 15, 325, 'reward_smile', 2, 2);

    var heart_sketch = [
      '................',
      '................',
      '................',
      '.000.......0000.',
      '003300...0003300',
      '0333300.00333330',
      '0333330003333330',
      '0333333333333300',
      '.03333333333330.',
      '.00333333333300.',
      '..033333333300..',
      '...0333333300...',
      '...003333300....',
      '....0333300.....',
      '.....03300......',
      '......000.......'
    ];

    game.create.texture('heart', heart_sketch, 4, 4, 0);

    var heart01 = newDraggableToken(heart01, 15, 400, 'heart', 1, 1);


    // ***************************************************************
    // ********** Rough Save Data Code IIIIIIIIIIIIIIIIIIIIIIIIIIIIIII

    heart01.events.onDragStop.add(onDragStop, this);



    // Test the heart movement, and saving the position data (for saved game)
    var heartPrintout;
    var heartPosJSON = [];

    // concept function for when a token or game piece is dropped after a drag.
    // Should kick off the position data saving

    function onDragStop() {
      heartPrintout = "(" + heart01.x + ", " + heart01.y + "), ";
      console.log(heartPrintout);
      $('#Heart_Pos').append(heartPrintout);

      // create an array for JSON parsing
      heartPosJSON = [{"x": this.x, "y": this.y}];

      // I don't have this array to JSON parsing down yet.
      // When I do, I expect JSON to a rails DB via AJAX is a good way to store board piece postiion info.
//      var heartJSON = JSON.parse(heartPosJSON.toString(''));
//      var stringyJSON = JSON.stringify(heartJSON.push);
      console.log(heartPosJSON);
    }

  }

  function update() {

  }

</script>
<p>Move the Heart, and watch the position update here</p>
<p id="Heart_Pos">Heart Position (x,y): </p>