<h1>Motivation Chart</h1>

<body>
<script>
  var game = new Phaser.Game(800, 600, Phaser.CANVAS, 'phaser-example', {
    preload: preload,
    create: create,
    update: update
  });
</script>
</body>
