<div class='row'>
  <div class='jumbotron'>
    <div class='text-center'>
      <h1>Motivational Game Chart
        <small> For Children</small>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="btn-success">
      <div class="text-center">
        <%= link_to("Let's Do This", game_index_path) %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">.col-sm-4</div>
</div>
